body {
    background-color: white;
}

.flex-container {
  display: flex; /* Aligns children side-by-side */
  gap: 20px;     /* Adds space between columns */
}
.flex-container > usrDiv {
  flex: 1;       /* Makes columns equal width */
}

.flex-container {
  display: flex; /* Aligns children side-by-side */
  gap: 20px;     /* Adds space between columns */
}
.flex-container > passDiv {
  flex: 1;       /* Makes columns equal width */
}

.pic1 {
    width: 400px;
    height: auto;
}

/* allign pic1 */
.pic1_allign {
    display: flex;
    justify-content: right;
}

/* Disable text resizing */
.usrTxt textarea{
  resize: none;
}

/* Adds navigation bar color */
.topnav {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Adds font and color */
.topnav button {
    float: right;
    color: black;
    background-color: #333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border: none;
}

/* Adds hover */
.topnav button:hover {
    background-color: white;
    color: rgb(0, 0, 0);
}

/* Adds color on the tab which is active */
.topnav button.active {
  background-color: #04AA6D;
  color: white;
}